<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        {{ message }}
        <p v-bind:name="message">
            v-bind綁定
        </p>
        <p v-if="seen">出現</p>
        <p v-else>消失</p>
        <button v-on:click="btnIfElse">
            click
        </button>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
        <button v-on:click="reverseMessage">
            翻轉訊息
        </button>
        <br>
        <br>
        <input v-model="message">
    </div>

    //父元素
    <div id="appF">
        <todo-item v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
        </todo-item>
    </div>
    
</body>

<script>
    var app = new Vue({
    el: '#app',
    data: {
        message: 'Hello Vue!',
        seen: true,
        todos: [
            {text: 'text1'},
            {text: 'text2'},
            {text: 'text3'}
        ]
    },
    methods: {
        reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
        },
        btnIfElse: function() {
            if(this.seen) {
                this.seen = false;
            } else {
                this.seen = true;
            }
        }
    }
    })

    //子元素
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })

    //父元素
    var appFather = new Vue({
        el: "appF",
        data: {
            groceryList: [
                {id: 0, text: '小魚'},
                {id: 1, text: '中魚'},
                {id: 2, text: '大魚'}
            ]
        }
    })
</script>
</html>